.card {
  width: 400px;
  height: 300px;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
}

.card__title h3 {
  font-size: 28px;
  color: var(--dark-gray-foreground);
  letter-spacing: -2px;
  font-weight: 500;
}
.card__status {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status__number p {
  margin: 0;
  font-size: 80px;
  font-weight: bold;
}
.status__icon {
  width: 150px;
  height: 150px;
  background-color: hsla(43, 96%, 54%, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
}

.status__icon .icon {
  color: #fabb18;
  font-size: 70px;
}
