.productCard {
  background-color: var(--bg-white);
  width: 280px;
  margin: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.productCard__image img {
  width: 250px;
  height: 200px;
  margin: auto;
}

.productCard__name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.productCard__description {
  color: var(--light-gray-foreground);
  padding: 0 0.6rem;
}

.productCard__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.productCard__price {
  font-size: 1.3rem;
  line-height: 0px;
  color: #f8b63c;
  font-weight: 500;
}
.productCard__brand {
  font-size: 0.8rem;
  line-height: 0px;
  color: var(--light-gray-foreground);
  margin-bottom: 1rem;
}

.productCard__wrapper--btn {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.productCard__wrapper--btn .productCard__button {
  border: none;
  background-color: #f8b63c;
  color: #ffffff;
  padding: 1rem 0.5rem;
  width: 100%;
  font-size: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all ease-in-out 0.3s;
}

.productCard__wrapper--btn .productCard__button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.product .productCard__button {
  background-color: var(--red);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
