.filter-wrapper {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--bg-white);
  margin: auto;
  grid-area: filter;
  height: 100vh;
}

.filter-title {
  font-size: 1rem;
  font-weight: 500;
}

.filter-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid var(--navy);
}

.filter-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 8px 16px;
}

.filter-item label {
  color: var(--light-gray-foreground);
}

.filter-checkbox {
  margin-left: 10px;
}

.product-list-container {
  display: grid;
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-columns: 220px auto;
  grid-template-areas:
    "filter header"
    "filter products";
}

.product-list-container .underscore {
  width: 10rem;
  height: 1px;
  background-color: var(--yellow-ascent);
}
.products-container {
  grid-area: products;
  overflow: auto;
}

.productList__title {
  margin-top: 0;
  font-size: 2.5rem;
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
}

.product-list-product-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.product-list-message {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
