.sidebar {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar__links {
  color: #2e2c2c;
}

.sidebar__links p {
  color: #2e2c2c;
}

a {
  color: var(--teal);
  text-decoration: none;
}

.sidebar__settings {
  border: 1px solid red;
}
